.post-by,.post-in{
	display: inline-block;
	margin-bottom: 20px;
	margin-right: 30px;
}
.read-more{
	margin-top: 10px;
}

.mobile-info-review{
	display: none;
}

@media (max-width: 767px) {
  	.mobile-info-review{
		display: block;
	}
	.info-review{
		display: none;
	}
	.mobile-count-review,.mobile-support,.mobile-share {
	   	display: inline-block;
	   	margin-right: 10px;
	   	font-size: 0.3rem;
      text-align: center;
      margin-left: 10px;
	}

  .single-popular-post {
      background-color: #222;
      padding: 20px;
      height: auto;
  }

  .single-popular-post .thumb {
      margin-left: 50%;
      transform: translateX(-50%);
  }
}

.info-review {
    width: 85px;
    height: 100%;
    margin-right: 20px;
    box-sizing: border-box;
}
.count-review{
	border-top: 1px solid #bababad6;
}
.count-review,.support,.share{
	border-left: 1px solid #bababad6;
	border-right: 1px solid #bababad6;
}
.count-review,.support,.share {
    width: 100%;
    height: 33.333333333333333333333333333333333333333333%;
    border-bottom: 1px solid #bababad6;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: all 0.5s linear;
}
.count-review:hover,.support:hover,.share:hover{
	background: #bababad6;
	cursor: pointer;
}
span.vote {
    padding-top: 19px;
    padding-bottom: 3px;
    font-size: 20px;
    width: 100%;
}
.loadmore-btn:hover{
	box-shadow: 0px 3px 10px 0px black;
}

.single-new{
	margin-bottom: 30px;
}
/*.single-new:hover{
  box-shadow: 0 4px 8px rgba(59,64,69,0.2) !important;
}
*/
.single-new img{
	width: 100%;
	max-width: 100%;
	height: 200px;
	max-height: 200px;
	padding:3px;
}
.single-new .title{
	margin-top: 5px;
	margin-bottom: 5px;
}
.thumbail{
	border-radius: 5px;
}
.single-new .read-more {
    margin-left: 50%;
    transform: translateX(-50%);
}

.about-content .form-wrap {
  background-color: #a998f6;
  border: 1px solid #b8aaf3;
  padding: 20px 0;
  margin: 40px 0;
}

.about-content .form-wrap .nice-select {
  width: 100%;
}

.about-content .form-wrap .form-control {
  height: 40px;
  border-radius: 0;
  font-size: 14px;
}

.about-content .form-wrap .btn-info {
  background-color: #49e4fa;
  width: 100%;
  height: 100%;
  color: #fff;
  border-radius: 0;
  border: none;
  text-transform: uppercase;
}

.about-content .form-wrap .btn-info {
  font-size: 14px;
}

@media (max-width: 960px) {
  .about-content .form-cols {
    margin-bottom: 30px;
  }
  .about-content .form-cols:last-child {
    margin-bottom: 0;
  }
}

.ask-for{
	width: 100%;
	height: 70px;
	margin-bottom: 20px;
	display: flex;
}
.ask-for span{
	display: block;
}
.ask-count-review,.ask-support,.ask-share {
    width: 33.33333333333333333333333333333333333%;
    height: 100%;
    border-top: 1px solid #bababad6;
    border-bottom: 1px solid #bababad6;
    text-align: center;
    display:inline-block;
    transition: all 0.5s linear;
}
.ask-count-review{
	border-right: 1px solid #bababad6;
	border-left: 1px solid #bababad6;
}
.ask-share{
	border-left: 1px solid #bababad6;
	border-right: 1px solid #bababad6;
}
.ask-count-review:hover,.ask-support:hover,.ask-share:hover{
	background: #bababad6;
	cursor: pointer;
}
.ask-for .ask-post-by,.ask-post-in{
	display: inline-block;
	margin-bottom: 5px;
}
.single-rated h4{
	margin-bottom: 5px;
}
.content p{
	text-indent: 20px;
}
.vote div{
	display: inline-block;
	margin-right: 10px;
}
.vote .support {
    display: block;
    width: 60px;
    height: 20px;
    line-height: 20px;
    padding-top:1px;
    cursor: pointer;
    transition: all 0.3s linear;
    border:none;
}
.vote .support:hover{
	background:#bcb5b56b;
}
.vote{
	float: right;
}
.support_active{
	color:#28a745!important;
  text-shadow: 0px 0px 10px green;
}
.options .answer,.options .opt{
	display: inline-block;
}
.opt{
	float: right;
	color: black;
}

.form-area .input-group-icon .single-input{
  height: 50px;
  margin-bottom: 20px;
}

.form-area .form-select .nice-select
{
  height: 50px;
}

.form-select .current {
    margin-right: 50px;
    font-weight: 300;
    line-height: 40px;
}
.form-area .input-group-icon i{
  line-height: 50px;
}
.form-area .nice-select{
  font-size: 12px;
}
.form-area .primary-btn
{
  margin-left: 50%;
  transform: translateX(-50%);
}
.forget-password {
  float: right;
}

.form-area .form-select .current {
    margin-right: 50px;
    font-weight: 300;
    line-height: 50px;
}

.ti-tag{
  height: 30px;
}

.vue-tags-input {
    position: relative;
    background-color: #fff;
    width: 100%;
    max-width: 100% !important;
}

.ti-input{
    height: auto;
    display: block;
    width: 100%;
    line-height: 40px;
    border: none !important;
    outline: none  !important;
    background: #f9f9ff;
    padding: 10px !important;


}

.ti-new-tag-input{
  background: #f9f9ff;
}
.ti-new-tag-input-wrapper input {
    flex: 1 0 auto;
    min-width: 100px;
    border: none;
    padding: 0px;
    margin: 0px;
    padding-left: 30px !important;
}
ul.ti-tags li.ti-tag:nth-child(1){
  margin-left: 40px !important;
}

.error {
    margin-top: 20px;
}

.content-question{
  height: 80px;
  overflow: hidden;

}
.content-question p {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-indent: 20px;

}


.option-list{
  margin-bottom: 20px;
  text-align: right;
}
.option-list .nice-select ul.list li{
  text-align: right;
}
.option-list .nice-select span{
  float: right;
}

ul.list-tag li {
    display: inline-block;
    border: 1px solid #795fff;
    padding: 2px 9px;
    margin: 5px 3px;
    background: #795fff;
    border-radius: 4px;
}

ul.list-tag li a{
   color: white;
   text-transform: lowercase;
}


.paginate {
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    /*margin-left: 77%;
    transform: translateX(-50%);*/
    width: 100%;
}

.paginate>.active>a, .paginate>.active>a:focus, .paginate>.active>a:hover, .paginate>.active>a, .paginate>.active>a:focus, .paginate>.active>a:hover {
    z-index: 3;
    color: #303030;
    cursor: default;
    background-color: #f9f9ff;
    border-color: #f9f9ff;
}

.paginate>li>a{
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #303030;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #1f1f1f6e;
    border-radius: 0px 0px;
}

.paginate>li:first-child>a, .paginate>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.paginate>li:last-child>a, .paginate>li:last-child>span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.single-popular-post .thumb {
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
}
.single-popular-post .thumb img {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    object-fit: cover;
}

.new-content h4.title {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.blog-listt {
    display: flex;
}
.blog-listt .img {
    width: 28%;
    height: auto;
    margin-right: 10px;
}
.blog-listt.mb-30 .img img {
    width: 100%;
    height: 100%;
}

.blog-listt .title {
    width: 68%;
}
.blog-listt .title h5 {
   overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
}

.post-list .cat-list li a {
    text-transform: uppercase;
    /* font-weight: 600; */
    font-size: 12px;
    color: #222;
}

.single-post .img {
    width: 30%;
    margin-right: 45px;
    height: 150px;
}

.single-post .img img {
    height: 100%;
}
.single-post .title-news h4 {
    margin-bottom: 10px;
}

.single-post .title-news {
    width: 65%;
}

.detail_news img{
  width: 100%;
  height: 100%;
}

.detail_news table{
  width: 100% !important;
}

.detail_news ul{
  list-style: unset;
}

.content-question h1,.content-question h2,.content-question h3, .content-question h4, .content-question h4{
   display: none;
}


.swal2-file, .swal2-input, .swal2-textarea {
    box-sizing: border-box;
    width: 100%;
    transition: border-color .3s,box-shadow .3s;
    border: 1px solid #d9d9d9;
    border-radius: .1875em;
    background: inherit;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.06);
    color: inherit;
    font-size: 14px !important;
}

ul.manager {
  margin-top: 10px;
}
ul.manager li {
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
ul.manager li:hover{
  background: #f9f9ff;
  border-right: 2px solid orange;
}

.left{
  position: relative;
  height: 100%;
  border-right: 2px solid #dfdfdf;
}

.left ul li.active{
  background: #f9f9ff;
  border-right: 2px solid orange;
}
.user{
  position: sticky;
  top: 70px;
  transition: all .2s,transform ease-in-out .1s;

}

.single-question {
    padding: 20px 30px;
    border-top: 1px solid #dfdfdf;
    overflow: hidden;
    position: relative;
    transition: all .2s;
}
.single-question .title h4{
  margin-bottom: 10px;
}

.single-question .tags ul{
  display: inline-block;
  margin-left: 5px;
}
.single-question .tags ul li{
    display: inline-block;
    border: 1px solid #795fff;
    padding: 2px 9px;
    margin: 4px 2px;
    background: #795fff;
    border-radius: 4px;
    color: white;
    font-size: 12px;
}

.single-question .action {
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s linear;
}
.single-question:hover{
  cursor: pointer;
  background: #f9f9ff;
}
.single-question:hover .action{
  right: 0;
}
.single-question .action .edit, .single-question .action .remove {
    padding: 5px 11px;
    background: #795fff;
    margin: 5px;
    color: white;
    cursor: pointer;
}

.single-question .action .edit:hover, .single-question .action .remove:hover{
  background: #a08ff999;
}
/*------------------------------------------*/
.single-answer {
    padding: 20px 30px;
    border-top: 1px solid #dfdfdf;
    overflow: hidden;
    position: relative;
    transition: all .2s;
}

.single-answer:hover{
  cursor: pointer;
  background: #f9f9ff;
}
.single-answer:hover .action{
  right: 0;
}

/*.single-answer .answer p {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-indent: 20px;
}
*/

.single-answer .action {
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s linear;
}

.single-answer .action .edit, .single-answer .action .remove {
    padding: 5px 11px;
    background: #795fff;
    margin: 5px;
    color: white;
    cursor: pointer;
}

.single-answer  .action .edit:hover, .single-answer  .action .remove:hover{
  background: #a08ff999;
}

.notActive{
  display: none !important;

}

ul.detail li {
    padding: 11px 0px;
    border-top: 1px solid #d2d2d28a;
}
ul.detail li:hover{
  background: #d2d2d28a;
  cursor: pointer;
}
ul.detail {
    border-top: 2px solid #d2d2d28a;
    border-bottom: 2px solid #d2d2d28a;
}

ul.detail li span.head {
    width: 125px;
    display: inline-block;
}

ul.detail li span.name i{
       margin-left: 10px;
    cursor: pointer;
}

ul.detail li span.edit-name i.fa-check{
    margin-left: 10px;
    cursor: pointer;
    padding: 3px 3px;
    color: green;
    transition: all 0.3s linear;
}
ul.detail li span.edit-name i.fa-times{
    margin-left: 10px;
    cursor: pointer;
    padding: 3px 3px;
    color: red;
    transition: all 0.3s linear;
}
.keyword {
  position: relative;
}

.search {
    position: absolute;
    top: 128%;
    width: 95%;
    height: auto;
    background: white;
    z-index: 9;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 2px;
      border: 1px solid #2522229e;
      text-align: left;
      padding: 10px 20px;

}
.search b{
  color: black;
}

.search::before {
    content: '';
    width: 14px;
    height: 14px;
    background: white;
    position: absolute;
    transform: rotate(45deg);
    left: 21px;
    top: -8px;
    border-top: 1px solid #2522229e;
    border-left: 1px solid #2522229e;
}
.search  ul{
  margin-left: 10px;
  margin-top: 5px;
}

.search a{
  color: #007bff;
}
.search span{
  color: #007bff;
  cursor: pointer;
}

blockquote {
    margin: 0 0 1rem;
    background: black;
    padding: 5px;
    color: white;
    border-left: 3px solid orange;
}

.bg {
    width: 100%;
    height: 113px;
    background: url(https://cdn.sstatic.net/img/ask/background.svg?v=6084701e738a) no-repeat;
    background-position: center;
}

.steps ul li {
  cursor: pointer;
  padding: 10px 5px;
  border-bottom: 1px solid #90909036;
}
.steps ul li:last-child {
  border-bottom: none;
}
.steps{
      box-shadow: 0 4px 8px rgba(59,64,69,0.2) !important;
    padding: 20px 10px;
}
.step{
  display: flex;
}
.step span {
    padding-top: 5px;
    padding-left: 9px;
}

.step-down {
    padding-top: 5px;
    position: absolute;
    right: 24px;
}

.detail-step {
    padding: 20px 20px;
    text-align: justify;
    font-size: 13px;
}

.my-post {
      box-shadow: 0 4px 8px rgba(59,64,69,0.2) !important;
    padding: 20px 20px;
}

.steps h5 {
    display: block;
    background: #8e84840d;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 400;
}

section#login {
    background: url(https://cdn.sstatic.net/img/home/illo-hero-full.svg?v=e2018a5f9272) no-repeat;
    background-position:top center;
        background-size: 93%;

}

section#register {
  background: url(https://cdn.sstatic.net/img/teams/overview/hero-left.png?v=e5ef709106d1) no-repeat 0 50% / contain,url(https://cdn.sstatic.net/img/teams/overview/hero-right.png?v=07bc4978ecf4) no-repeat 100% 50% / contain;
  background-size: 36% 50%;
}

.fly {
    width: 100px;
    position: absolute;
    top: -62px;
    right: 100px;
}

.rule {
    box-shadow: 0 4px 8px rgba(59,64,69,0.2) !important;
    padding: 20px 10px;
    margin-top: 20px;
    background: #FFF8DC;
    color: black;
    font-size: 13px;
}

.rule ul{
  padding-left: 20px;
}